<!DOCTYPE html>
<html lang="es">
	<%- include('./includes/header'); %>

	<body>
        <%- include('./includes/nav'); %>
		<section class="bg-slate-800 w-1/6 flex flex-col p-12 mx-auto">
			<h1 class="font-bold text-white">Hasta luego <%- user.name %></h1>
        </section>
	</body>
</html>