<table id="customers" class="table-auto bg-slate-200 mx-auto w-1/3">
    <tr class="bg-slate-700 py-5">
        {{#each ["Imagen","Nombre","Precio"]}}
            <th class="text-white">{{this}}</th>
        {{/each}}
    </tr>
    {{#each data}}
        <tr class="border-2 border-b-slate-500" >
            <td class="text-center w-24 h-24">
                <img src="{{this.thumbnail}}" alt="" class="h-full w-full object-cover inline-block">
            </td>
            <td>
                <p>{{this.title}}</p>
            </td>
            <td class="text-center w-24">
                <p class="text-bold">{{this.price}}</p>
            </td>
        </tr>
    {{/each}}
</table>