head
    script(src="https://cdn.tailwindcss.com")
    title Entrega 5

nav.mx-auto.px-4.w-full.text-left.py-5.bg-slate-200.mb-10
    a.mr-2.ml-10.font-bold(href="productos") Lista de productos
    a.ml-10.font-bold(href="subir_productos") Cargar Producto